---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---

<img src="http://marcoteneikelder.github.io/images/Rising_bubble.png" alt="Rising_bubble" width="1145" height="668">
 
<video width="1003" height="1286" controls autoplay muted loop>
  <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
  <source src="http://marcoteneikelder.github.io/images/Rising_bubble.ogv" type="video/ogg">
Your browser does not support the video tag.
</video> 
<video width="1003" height="1286" controls>
  <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mov" type="video/mov">
Your browser does not support the video tag.
</video> 
 <video width="1003" height="1286" autoplay>
  <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mov" type="video/mov">
Your browser does not support the video tag.
</video> 
 <video width="1003" height="1286" autoplay>
  <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
Your browser does not support the video tag.
</video> 

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

