---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<div>
    <p><h1>Computational (fluid) mechanics</h1><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Eget nunc scelerisque viverra 
        mauris in. Vitae congue eu consequat ac felis donec et. Neque gravida in 
        fermentum et sollicitudin ac. Dolor sit amet consectetur adipiscing elit duis
        tristique sollicitudin. Malesuada bibendum arcu vitae elementum curabitur vitae
        nunc sed. Iaculis eu non diam phasellus vestibulum lorem sed risus. Pellentesque
        elit eget gravida cum. In tellus integer feugiat scelerisque varius morbi enim. 
        Porttitor eget dolor morbi non arcu risus. Est pellentesque elit ullamcorper
        dignissim cras tincidunt lobortis feugiat vivamus.
    </p>
    <p style="float: right;">
      <video width="500" height="643" controls autoplay muted loop>
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.ogv" type="video/ogg">
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.webm" type="video/webm">
        Your browser does not support the video tag.
      </video> 
    </p>
</div>
<br><br>
<div>
    <p style="float: left;">
      <video width="500" height="643" controls autoplay muted loop>
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.ogv" type="video/ogg">
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.webm" type="video/webm">
        Your browser does not support the video tag.
      </video> 
    </p>
    <p><h1>Phase field flow modeling and computation</h1><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Eget nunc scelerisque viverra 
        mauris in. Vitae congue eu consequat ac felis donec et. Neque gravida in 
        fermentum et sollicitudin ac. Dolor sit amet consectetur adipiscing elit duis
        tristique sollicitudin. Malesuada bibendum arcu vitae elementum curabitur vitae
        nunc sed. Iaculis eu non diam phasellus vestibulum lorem sed risus. Pellentesque
        elit eget gravida cum. In tellus integer feugiat scelerisque varius morbi enim. 
        Porttitor eget dolor morbi non arcu risus. Est pellentesque elit ullamcorper
        dignissim cras tincidunt lobortis feugiat vivamus.
    </p>
</div>
<br><br>
<div>
    <p><h1>Multiscale dynamics</h1><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Eget nunc scelerisque viverra 
        mauris in. Vitae congue eu consequat ac felis donec et. Neque gravida in 
        fermentum et sollicitudin ac. Dolor sit amet consectetur adipiscing elit duis
        tristique sollicitudin. Malesuada bibendum arcu vitae elementum curabitur vitae
        nunc sed. Iaculis eu non diam phasellus vestibulum lorem sed risus. Pellentesque
        elit eget gravida cum. In tellus integer feugiat scelerisque varius morbi enim. 
        Porttitor eget dolor morbi non arcu risus. Est pellentesque elit ullamcorper
        dignissim cras tincidunt lobortis feugiat vivamus.
    </p>
    <p style="float: right;">
      <video width="500" height="643" controls autoplay muted loop>
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.ogv" type="video/ogg">
        <source src="http://marcoteneikelder.github.io/images/Rising_bubble.webm" type="video/webm">
        Your browser does not support the video tag.
      </video> 
    </p>
</div>

<video width="1003" height="1286" controls autoplay muted loop>
  <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
  <source src="http://marcoteneikelder.github.io/images/Rising_bubble.ogv" type="video/ogg">
  <source src="http://marcoteneikelder.github.io/images/Rising_bubble.webm" type="video/webm">
Your browser does not support the video tag.
</video> 

<div>
    <p style="float: left;"><img src="http://marcoteneikelder.github.io/images/Rising_bubble.png" alt="Rising_bubble" width="572" height="334"></p>
    <p>Text1 Text1 Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text1</p>
</div>

<div>
    <p style="float: left;"><img src="http://marcoteneikelder.github.io/images/Rising_bubble.png" alt="Rising_bubble" width="1145" height="668"></p>
    <p>Text2 Text2 Text2 Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text2</p>
</div>

<div style="clear: left;">
    <p style="float: left;"><img src="http://marcoteneikelder.github.io/images/Rising_bubble.png" alt="Rising_bubble" width="1145" height="668"></p>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div>

<div class="container">
  <div class="image">
    <img src="http://marcoteneikelder.github.io/images/Rising_bubble.png" alt="Rising_bubble" width="1145" height="668">
  </div>
  <div class="text">
    <h1>Paris is one of the most magnificient cities in France.</h1>
  </div>
</div>

<p style="display:inline-block;">
  <img src="http://marcoteneikelder.github.io/images/Rising_bubble.png" alt="Rising_bubble" width="1145" height="668">
  <h1 style="color:red;font-size:40px;">Phase-field modeling and computation</h1><br>This is my text
</p>

<div>
  <img src="http://marcoteneikelder.github.io/images/Rising_bubble.png" alt="Rising_bubble" width="1145" height="668">
  <span><h1 style="color:red;font-size:40px;">Phase-field modeling and computation</h1><br>This is my text</span>
</div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


