---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
<br><br>
<div style="overflow: hidden;">
  <div style="float: right; margin-left: 20px;">
    <video width="400" height="514" controls autoplay muted loop>
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.ogv" type="video/ogg">
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>
  <h1>Phase field flow modeling and computation</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Eget nunc scelerisque viverra 
    mauris in. Vitae congue eu consequat ac felis donec et. Neque gravida in 
    fermentum et sollicitudin ac. Dolor sit amet consectetur adipiscing elit duis
    tristique sollicitudin. Malesuada bibendum arcu vitae elementum curabitur vitae
    nunc sed. Iaculis eu non diam phasellus vestibulum lorem sed risus. Pellentesque
    elit eget gravida cum. In tellus integer feugiat scelerisque varius morbi enim. 
    Porttitor eget dolor morbi non arcu risus. Est pellentesque elit ullamcorper
    dignissim cras tincidunt lobortis feugiat vivamus.
  </p>
</div>
<br><br><br><br>
<div style="overflow: hidden;">
  <div style="float: right; margin-left: 20px;">
    <video width="400" height="514" controls autoplay muted loop>
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.ogv" type="video/ogg">
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>
  <h1>Phase field flow modeling and computation</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Eget nunc scelerisque viverra 
    mauris in. Vitae congue eu consequat ac felis donec et. Neque gravida in 
    fermentum et sollicitudin ac. Dolor sit amet consectetur adipiscing elit duis
    tristique sollicitudin. Malesuada bibendum arcu vitae elementum curabitur vitae
    nunc sed. Iaculis eu non diam phasellus vestibulum lorem sed risus. Pellentesque
    elit eget gravida cum. In tellus integer feugiat scelerisque varius morbi enim. 
    Porttitor eget dolor morbi non arcu risus. Est pellentesque elit ullamcorper
    dignissim cras tincidunt lobortis feugiat vivamus.
  </p>
</div>
<br><br><br><br><br><br><br><br><br>
<div style="overflow: hidden;">
  <div style="float: right; margin-left: 20px;">
    <video width="400" height="514" controls autoplay muted loop>
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.mp4" type="video/mp4">
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.ogv" type="video/ogg">
      <source src="http://marcoteneikelder.github.io/images/Rising_bubble.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>
  <h1>Phase field flow modeling and computation</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Eget nunc scelerisque viverra 
    mauris in. Vitae congue eu consequat ac felis donec et. Neque gravida in 
    fermentum et sollicitudin ac. Dolor sit amet consectetur adipiscing elit duis
    tristique sollicitudin. Malesuada bibendum arcu vitae elementum curabitur vitae
    nunc sed. Iaculis eu non diam phasellus vestibulum lorem sed risus. Pellentesque
    elit eget gravida cum. In tellus integer feugiat scelerisque varius morbi enim. 
    Porttitor eget dolor morbi non arcu risus. Est pellentesque elit ullamcorper
    dignissim cras tincidunt lobortis feugiat vivamus.
  </p>
</div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


