---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<br>
16. (Invited talk) M.F.P. ten Eikelder, S.K.F. Stoter, Y. Bazilevs and D. Schillinger,<br>
Elimination of Gibbs phenomena in finite element spaces via constrained optimization,<br>
Isogeometric analysis 2022 - IGA 2022,<br>
Banff, Canada (November, 2022)<br>
Host: G. Moutsanidis
<br><br>
15. M.F.P. ten Eikelder, K.G. van der Zee, I. Akkerman and D. Schillinger,<br>
A unified framework of Navier-Stokes Cahn-Hilliard models with non-matching densities,<br>
Gesellschaft für Angewandte Mathematik und Mechanik,<br>
Annual meeting - GAMM 2022, Aachen, Germany (August 17, 2022)
<br><br>
14. M.F.P. ten Eikelder, K.G. van der Zee, I. Akkerman and D. Schillinger,<br>
A Unified Framework of Navier-Stokes Cahn-Hilliard Models with Non-Matching Densities,<br>
15th World Congress on Computational Mechanics - WCCM 2022 (virtual event),<br>
Tokyo, Japan (July 31-August 5, 2022)<br><br>
13. M.F.P. ten Eikelder, K.G. van der Zee, I. Akkerman and D. Schillinger,<br>
A unified analysis framework of Navier-Stokes Cahn-Hilliard models with different densities,<br>
8th European Congress on Computational Methods in Applied Sciences and Engineering - ECCOMAS 2022,<br>
Oslo, Norway (June 8, 2022)<br><br>
12. M.F.P. ten Eikelder, S.K.F. Stoter, I. Akkerman, Y. Bazilevs and D. Schillinger,<br>
A Viscous Regularization Framework for the Compressible Euler Equations Originating from VMS and Variation Entropy Theory,<br>
16th U.S. National Congress on Computational Mechanics - USNCCM 2021 (virtual event),<br>
Chicago, USA (July 28, 2021)<br><br>
11. M.F.P. ten Eikelder, I. Akkerman,<br>
An energy-dissipative method for two-phase flow with surface tension,<br>
Ship hydromechanics and structures lectures,<br>
Delft (December 18, 2019)<br><br>
10. (Invited talk) M.F.P. ten Eikelder, Y. Bazilevs and I. Akkerman,<br>
A theoretical framework for discontinuity capturing, Merging VMS and variation entropy,<br>
Leibniz University Hannover, Hannover, Germany (April 17, 2019)<br>
Host: D. Schillinger<br><br>
9. M.F.P. ten Eikelder, I. Akkerman and Y. Bazilevs,<br>
The Variational Multiscale Method is the Underlying Theoretical Framework of Discontinuity Capturing,<br>
Finite Elements in Flow problems - FEF 2019,<br>
Chicago, USA (April 1, 2019)<br><br>
8. (Invited talk) M.F.P. ten Eikelder, Y. Bazilevs and I. Akkerman,<br>
Variation entropy, A theoretical VMS framework for discontinuity capturing<br>
School of Engineering, Brown University,<br>
Providence, USA (March 28, 2019)<br>
Host: Y. Bazilevs<br><br>
7. (Invited talk) M.F.P. ten Eikelder,<br>
Isogeometric analysis for ship hydromechanics,<br>
Lecture series of the Society of Maritime Technology,<br>
Delft (December 12, 2018)<br>
Host: Society of Maritime Technology<br><br>
6. M.F.P. ten Eikelder, I. Akkerman,<br>
A multiscale discontinuity capturing method for air-water flow simulations,<br>
Ship hydromechanics and structure lectures,<br>
Delft (November 14, 2018)<br><br>
5. M.F.P. ten Eikelder and I. Akkerman,<br>
Correct Energy Behavior of Stabilized Formulations,<br>
The 13th World Congress in Computational Mechanics - WCCM 2018,<br>
New York, USA (July 27, 2018)<br><br>
4. M.F.P. ten Eikelder and I. Akkerman,<br>
Correct Energy Evolution of Stabilized Methods: Dynamic Orthogonal Small-Scales and Isogeometric Analysis,<br>
Isogeometric Analysis and Applications - IGAA 2018,<br>
Delft, The Netherlands (April 23, 2018)<br><br>
3. (Invited talk) M.F.P. ten Eikelder and I. Akkerman,<br>
Correct energy behavior in stabilized finite element methods,<br>
CASA Colloquium, Eindhoven University of Technology,<br>
Eindhoven, The Netherlands (January 31, 2018)<br>
Host: B. Koren<br><br>
2. M.F.P. ten Eikelder, I. Akkerman,<br>
Correct energy behavior in air-water flows,<br>
Ship hydromechanics and structure lectures,<br>
Delft (May 8, 2017)<br><br>
1. M.F.P. ten Eikelder and I. Akkerman,<br>
Ensured Energy Decay in Stabilized Methods using Dynamic Orthogonal Subgrid-Scales and Isogeometric Analysis,<br>
19th International Conference on Finite Elements in Flow Problems - FEF 2017,<br>
Rome, Italy (April 2017)<br>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
