---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---
<h3>Invited talks at research institutes</h3>
<br>
<ol reversed>
  <li>
    <span style="color: #7b2c35 !important;"><b>Eindhoven, The Netherlands (September, 2025)</b></span> —
    <span style="color: #3b7c78;"><b>IGA 2025</b></span><br>
    Isogeometric Analysis 2025
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Heidelberg, Germany (September, 2025)</b></span> —
    <span style="color: #3b7c78;"><b>ENUMATH 2025</b></span><br>
    Enumath 2025
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Poznan, Poland (May, 2025)</b></span> —
    <span style="color: #3b7c78;"><b>GAMM 2025</b></span><br>
    Gesellschaft für Angewandte Mathematik und Mechanik — Annual meeting
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Prague, Czech Republic (March, 2025)</b></span><br>
    European Mathematical Society — Topical Activity Group: Mixtures
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Darmstadt, Germany (October, 2024)</b></span> —
    <span style="color: #3b7c78;"><b>ICCE 2024</b></span><br>
    5th International Conference on Computational Engineering
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Lisbon, Portugal (June, 2024)</b></span> —
    <span style="color: #3b7c78;"><b>ECCOMAS 24</b></span><br>
    9th European Congress on Computational Methods in Applied Sciences and Engineering
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Magdeburg, Germany (March, 2024)</b></span> —
    <span style="color: #3b7c78;"><b>GAMM 2024</b></span><br>
    Gesellschaft für Angewandte Mathematik und Mechanik — Annual meeting
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Dresden, Germany (February, 2024)</b></span><br>
    9th GAMM Workshop on Phase-Field Modeling (GAMM)
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Albuquerque, USA (July, 2023)</b></span> —
    <span style="color: #3b7c78;"><b>USNCCM 23</b></span><br>
    17th U.S. National Congress on Computational Mechanics
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Dresden, Germany (June 2, 2023)</b></span> —
    <span style="color: #3b7c78;"><b>GAMM 2023</b></span><br>
    Gesellschaft für Angewandte Mathematik und Mechanik — Annual meeting
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Cannes, France (April, 2023)</b></span> —
    <span style="color: #3b7c78;"><b>CFC 2023</b></span><br>
    22nd Computational Fluids Conference
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Banff, Canada (November, 2022)</b></span> —
    <span style="color: #3b7c78;"><b>IGA 2022</b></span><br>
    Isogeometric Analysis 2022
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Aachen, Germany (August 17, 2022)</b></span> —
    <span style="color: #3b7c78;"><b>GAMM 2022</b></span><br>
    Gesellschaft für Angewandte Mathematik und Mechanik — Annual meeting
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Tokyo, Japan (July 31–August 5, 2022)</b></span> —
    <span style="color: #3b7c78;"><b>WCCM 2022</b></span><br>
    15th World Congress on Computational Mechanics (virtual event)
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Oslo, Norway (June 8, 2022)</b></span> —
    <span style="color: #3b7c78;"><b>ECCOMAS 2022</b></span><br>
    8th European Congress on Computational Methods in Applied Sciences and Engineering
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Chicago, USA (July 28, 2021)</b></span> —
    <span style="color: #3b7c78;"><b>USNCCM 2021</b></span><br>
    16th U.S. National Congress on Computational Mechanics (virtual event)
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Chicago, USA (April 1, 2019)</b></span> —
    <span style="color: #3b7c78;"><b>FEF 2019</b></span><br>
    Finite Elements in Flow Problems
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Delft (November 14, 2018)</b></span><br>
    Ship hydromechanics and structure lectures
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>New York, USA (July 27, 2018)</b></span> —
    <span style="color: #3b7c78;"><b>WCCM 2018</b></span><br>
    13th World Congress in Computational Mechanics
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Delft, The Netherlands (April 23, 2018)</b></span> —
    <span style="color: #3b7c78;"><b>IGAA 2018</b></span><br>
    Isogeometric Analysis and Applications
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Rome, Italy (April 2017)</b></span> —
    <span style="color: #3b7c78;"><b>FEF 2017</b></span><br>
    19th International Conference on Finite Elements in Flow Problems
  </li>

  <li>
    <span style="color: #7b2c35 !important;"><b>Vancouver, Canada (July 2016)</b></span> —
    <span style="color: #3b7c78;"><b>PVP 2016</b></span><br>
    ASME 2016 Pressure Vessels &amp; Piping Conference
  </li>
</ol>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
